p Bonjour Caissier,
p Voici un récapitulatif des articles commandés :
each vendor in vendors
  h4 #{vendor.name}
  ul
    each order in vendor.orders
      li= 'Catégorie « ' + order.categoryName + ' » : ' + order.count + ' articles'
p Merci de vérifier #[a(href='https://lunch.brunswick-marine.com') lunch.brunswick-marine.com] pour plus d'informations sur les commandes.
hr(style='border: 0.5px solid #eeeeee')
br
a(href='https://lunch.brunswick-marine.com'): img(src='https://s3.eu-west-3.amazonaws.com/imb-brunswick/Cafeteria.png' alt='Brunswick logo' title="Brunswick logo" style="display: block" width="360" height="120")